{% extends 'event.html' %}

{% load i18n %}
{% load static %}

{% load pe_management_tags %}


{% block alerts %}
{{ block.super }}

{% comment %}
{% if event.data and not event.data.involved_personnel.all %}
<div class="alert alert-danger" role="alert">
    {% trans "Other involved personnel missing" %}
</div>
{% endcomment %}
{% if not event.to_evaluate %}
<div class="alert alert-danger" role="alert">
    {% trans "Evaluation request not sent" %}
</div>
{% endif %}
{% endblock alerts %}

{% block actions %}
<div class="text-end mt-5">
{% if event.can_be_handled_for_evaluation %}
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#take_event">
    <svg class="icon icon-sm icon-white">
        <use xlink:href="{% static 'svg/sprites.svg' %}#it-check"></use>
    </svg> {% trans "Handle" %}
</button>
<div class="it-example-modal d-inline">
   <div class="modal" tabindex="-1" role="dialog" id="take_event" aria-labelledby="take_event-Title">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title h5" id="take_event-Title">{% trans "Confirm" %}</h2>
               <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
                  <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-close"></use></svg>
               </button>
            </div>
            <div class="modal-body">
               <p>{% trans "Do you want to proceed?" %}</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'pe_management:operator_take_event' structure_slug=structure_slug event_id=event.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-success" type="submit">
                        {% trans 'Yes, proceed' %}
                    </button>
                </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% else %}

    {% if event.is_editable_by_operator %}
    <a class="btn btn-outline-secondary" href="{% url 'pe_management:operator_event_basic_info' structure_slug=structure_slug event_id=event.pk %}">
        <svg class="icon icon-sm icon-info">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-pencil"></use>
        </svg> {% trans "General informations" %}
    </a>
    <a class="btn btn-{% if event.data %}outline-secondary{% else %}success{% endif %}" href="{% url 'pe_management:operator_event_data' structure_slug=structure_slug event_id=event.pk %}">
        <svg class="icon icon-sm icon-{% if event.data %}info{% else %}white{% endif %}">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-{% if event.data %}pencil{% else %}plus-circle{% endif %}"></use>
        </svg> {% trans "Event data" %}
    </a>
    {% endif %}

    {% if event.data and event.is_editable_by_operator %}
    <a class="btn btn-outline-secondary" href="{% url 'pe_management:operator_event_people' structure_slug=structure_slug event_id=event.pk %}">
        <svg class="icon icon-sm icon-info">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-pencil"></use>
        </svg> {% trans "Other involved personnel" %}
    </a>
    <a class="btn btn-outline-secondary" href="{% url 'pe_management:operator_event_structures' structure_slug=structure_slug event_id=event.pk %}">
        <svg class="icon icon-sm icon-info">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-pencil"></use>
        </svg> {% trans "Other involved structures" %}
    </a>
    {% endif %}

    {% if event.is_ready_for_evaluation %}
    <a class="btn btn-success" href="{% url 'pe_management:operator_event_evaluation' structure_slug=structure_slug event_id=event.pk %}">
        <svg class="icon icon-sm icon-white">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-check"></use>
        </svg> {% trans "Evaluate" %}
    </a>
    {% elif event.evaluation_can_be_reviewed %}
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#reopen_evaluation">
        <svg class="icon icon-sm icon-white">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-refresh"></use>
        </svg> {% trans "Reopen evaluation" %}
    </button>
    <div class="it-example-modal d-inline">
       <div class="modal" tabindex="-1" role="dialog" id="reopen_evaluation" aria-labelledby="reopen_evaluation-Title">
          <div class="modal-dialog" role="document">
             <div class="modal-content">
                <div class="modal-header">
                   <h2 class="modal-title h5 " id="reopen_evaluation-Title">{% trans "Confirm" %}</h2>
                   <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
                      <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-close"></use></svg>
                   </button>
                </div>
                <div class="modal-body">
                   <p>{% trans "Do you want to reopen the evaluation?" %}</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'pe_management:operator_event_reopen_evaluation' structure_slug=structure_slug event_id=event.pk %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-warning" type="submit">
                            {% trans 'Yes, proceed' %}
                        </button>
                    </form>
                </div>
             </div>
          </div>
       </div>
    </div>
    {% endif %}

{% endif %}
</div>
{% endblock actions %}

{% block people %}
{% if event.data.involved_personnel.all %}
<div class="mt-5 h5"><b>{% trans "Other involved personnel" %}</b></div>
<hr />
<div class="table-responsive">
    <table class="table table-hover table-striped">
        {% for person in event.data.involved_personnel.all %}
        <tr>
            <td>{{ person }}</td>
            <td class="text-end">
                {% if event.is_editable_by_operator %}
                <button type="button" class="btn btn-xs btn-danger" data-bs-toggle="modal" data-bs-target="#delete-{{ person.pk }}">
                    <svg class="icon icon-sm icon-white">
                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-delete"></use>
                    </svg>
                </button>
                <div class="it-example-modal d-inline">
                   <div class="modal" tabindex="-1" role="dialog" id="delete-{{ person.pk }}" aria-labelledby="delete-{{ person.pk }}-Title">
                      <div class="modal-dialog" role="document">
                         <div class="modal-content">
                            <div class="modal-header">
                               <h2 class="modal-title h5 " id="delete-{{ person.pk }}-Title">{% trans "Confirm" %}</h2>
                               <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
                                  <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-close"></use></svg>
                               </button>
                            </div>
                            <div class="modal-body">
                               <p>{% trans "Do you want to confirm the entered data?" %}</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'pe_management:operator_event_people_delete' structure_slug=structure_slug event_id=event.pk person_id=person.pk %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">
                                        {% trans 'Yes, proceed' %}
                                    </button>
                                </form>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock people %}

{% block structures %}
{% if event.data.involved_structure.all %}
<div class="mt-5 h5"><b>{% trans "Other involved structures" %}</b></div>
<hr />
<div class="table-responsive">
    <table class="table table-hover table-striped">
        {% for structure in event.data.involved_structure.all %}
        <tr>
            <td>{{ structure }}</td>
            <td class="text-end">
                {% if event.is_editable_by_operator %}
                <button type="button" class="btn btn-xs btn-danger" data-bs-toggle="modal" data-bs-target="#delete-{{ structure.pk }}">
                    <svg class="icon icon-sm icon-white">
                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-delete"></use>
                    </svg>
                </button>
                <div class="it-example-modal d-inline">
                   <div class="modal" tabindex="-1" role="dialog" id="delete-{{ structure.pk }}" aria-labelledby="delete-{{ structure.pk }}-Title">
                      <div class="modal-dialog" role="document">
                         <div class="modal-content">
                            <div class="modal-header">
                               <h2 class="modal-title h5 " id="delete-{{ structure.pk }}-Title">{% trans "Confirm" %}</h2>
                               <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
                                  <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-close"></use></svg>
                               </button>
                            </div>
                            <div class="modal-body">
                               <p>{% trans "Do you want to confirm the entered data?" %}</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'pe_management:operator_event_structures_delete' structure_slug=structure_slug event_id=event.pk structure_id=structure.pk %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">
                                        {% trans 'Yes, proceed' %}
                                    </button>
                                </form>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock structures %}
