{% extends "base.html" %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{% trans "Edit user data" %}</h2>
{% endblock top_content %}

{% block page_content %}
{% include 'form_template.html' with form=form %}
{% endblock page_content %}

{% block extra_scripts %}
<!-- prevent submit form by press "enter" on field -->
<script>
document.querySelector ('form input').addEventListener ('keypress', function(e) {
    if(e.which == 13) {
        e.preventDefault();
        return false;
    }
});
document.querySelector ('form input').addEventListener ('keyup', function(e) {
    if(e.which == 13) {
        e.preventDefault();
        return false;
    }
});
</script>
{% endblock extra_scripts %}

