{% load i18n %}
{% load pe_management_tags %}

{% pem_settings_value "DASHBOARD_KPI_LIST" as titles %}
<div class="col-12">
  <div class="card-wrapper card-space">
    <div class="card card-bg no-after">
      <div class="card-body">
        <p class="card-title h5">
          {% for title in titles %}
          {% if title.0 == request.GET.kpi %}
          {{ title.1 }}
          {% endif %}
          {% endfor %}
        </p>
        <div id="app_events_patronage_requested">
          <div v-if="error">
            <div class="alert alert-danger" role="alert">
              {% trans "Data retrieval failed. Please check your search parameters" %}
            </div>
          </div>
          <div id="chart_events_patronage_requested" v-else></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var options_events_patronage_requested = {
    series: [],
    chart: {
      type: 'bar',
      height: 150,
      stacked: true
    },
    colors: ['#FF4560', '#008FFB'],
    plotOptions: {
      bar: {
        borderRadius: 5,
        borderRadiusApplication: 'end', // 'around', 'end'
        borderRadiusWhenStacked: 'all', // 'all', 'last'
        horizontal: true,
        barHeight: '80%',
      },
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      width: 1,
      colors: ["#fff"]
    },
    
    grid: {
      xaxis: {
        lines: {
          show: false
        }
      }
    },
    yaxis: {
      stepSize: 1
    },
    tooltip: {
      shared: false,
    },
    xaxis: {
      categories: ['Num']
    },
  };
  
  const app_events_patronage_requested = Vue.createApp({
    delimiters: ['[[', ']]'],
    data () {
      return {
        error: false
      }
    },
    mounted () {
      this.getCounters()
    },
    methods: {
      myFunction(item) {
        let num_iniziative = item.num_iniziative
        let label = "Richiesto"
        if(!item.patronage_requested) {
          label = "Non richiesto"
          num_iniziative = item.num_iniziative * -1
        }
        {% comment %} options_events_patronage_requested.labels.push(item.patronage_requested) {% endcomment %}
        options_events_patronage_requested.series.push({
          'name': label,
          'data': [num_iniziative]
        })
      },
      getCounters() {
        axios
        .get("{{ api_url }}", {
          params: {
            year: "{{ year }}"
          }
        })
        .then(response => {
          this.error_msg = ""
          this.error_status = null
          response.data.forEach(this.myFunction)
          var chart = new ApexCharts(document.querySelector("#chart_events_patronage_requested"), options_events_patronage_requested)
          chart.render()
        })
        .catch(error => {
          if(error) {
            this.error = true
            this.error_msg = error.response.data.detail
            this.error_status = error.response.status
          }
        })
      },
    }
  }).mount('#app_events_patronage_requested')
  
</script>
