{% load i18n %}
{% load pe_management_tags %}

{% pem_settings_value "DASHBOARD_KPI_LIST" as titles %}
<div class="col-12">
  <div class="card-wrapper card-space">
    <div class="card card-bg no-after">
      <div class="card-body">
        <p class="card-title h5">
          {% for title in titles %}
          {% if title.0 == request.GET.kpi %}
          {{ title.1 }}
          {% endif %}
          {% endfor %}
        </p>
        <div id="app_events_monitoring_data_provided">
          <div v-if="error">
            <div class="alert alert-danger" role="alert">
              {% trans "Data retrieval failed. Please check your search parameters" %}
            </div>
          </div>
          <div id="chart_events_monitoring_data_provided" v-else></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var options_events_monitoring_data_provided = {
    series: [],
    chart: {
      type: 'bar',
      height: 150,
      stacked: true
    },
    colors: ['#008FFB', '#FF4560'],
    plotOptions: {
      bar: {
        borderRadius: 5,
        borderRadiusApplication: 'end', // 'around', 'end'
        borderRadiusWhenStacked: 'all', // 'all', 'last'
        horizontal: true,
        barHeight: '80%',
      },
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      width: 1,
      colors: ["#fff"]
    },
    
    grid: {
      xaxis: {
        lines: {
          show: false
        }
      }
    },
    yaxis: {
      stepSize: 1
    },
    tooltip: {
      shared: false,
    },
    xaxis: {
      categories: ['Num']
    },
  };
  
  const app_events_patronage_requested = Vue.createApp({
    delimiters: ['[[', ']]'],
    data () {
      return {
        error: false
      }
    },
    mounted () {
      this.getCounters()
    },
    methods: {
      myFunction(item) {
        for (const [key, value] of Object.entries(item)) {
          let label = "Si"
          let num_iniziative = value
          if(key == 'no') {
            label = "No"
            num_iniziative = value * -1
          }
          options_events_monitoring_data_provided.series.push({
            'name': label,
            'data': [num_iniziative]
          })
        }
      },
      getCounters() {
        axios
        .get("{{ api_url }}", {
          params: {
            year: "{{ year }}"
          }
        })
        .then(response => {
          this.error_msg = ""
          this.error_status = null
          this.myFunction(response.data)
          var chart = new ApexCharts(document.querySelector("#chart_events_monitoring_data_provided"), options_events_monitoring_data_provided)
          chart.render()
        })
        .catch(error => {
          if(error) {
            this.error = true
            console.log(error)
            {% comment %} this.error_msg = error.response.data.detail
            this.error_status = error.response.status {% endcomment %}
          }
        })
      },
    }
  }).mount('#app_events_monitoring_data_provided')
  
</script>
