{% load i18n %}
{% load pe_management_tags %}

{% pem_settings_value "DASHBOARD_KPI_LIST" as titles %}
<div class="col-12">
  <div class="card-wrapper card-space">
    <div class="card card-bg no-after">
      <div class="card-body">
        <p class="card-title h5">
          {% for title in titles %}
          {% if title.0 == request.GET.kpi %}
          {{ title.1 }}
          {% endif %}
          {% endfor %}
        </p>
        <div id="app_events_scientific_areas">
          <div v-if="error">
            <div class="alert alert-danger" role="alert">
              Recupero dei dati non riuscito. Controlla i parametri di ricerca
            </div>
          </div>
          <div id="chart_events_scientific_areas" v-else></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var options_events_scientific_areas = {
    series: [{
      data: []
    }],
    chart: {
      type: 'bar',
      height: "auto"
    },
    plotOptions: {
      bar: {
        barHeight: '100%',
        distributed: true,
        horizontal: true,
        dataLabels: {
          position: 'bottom'
        },
      }
    },
    colors: [
    '#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e',
    '#f48024', '#69d2e7'
    ],
    dataLabels: {
      enabled: false,
      textAnchor: 'start',
      style: {
        colors: ['#fff']
      },
      formatter: function (val, opt) {
        return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
      },
      offsetX: 0,
      dropShadow: {
        enabled: true
      }
    },
    stroke: {
      width: 1,
      colors: ['#fff']
    },
    xaxis: {
      categories: [],
    },
    yaxis: {
      labels: {
        show: true
      }
    },
    title: {},
    subtitle: {},
    tooltip: {
      theme: 'dark',
      x: {
        show: false
      },
      y: {
        title: {
          formatter: function () {
            return ''
          }
        }
      }
    }
  };
  
  const app_events_scientific_areas = Vue.createApp({
    delimiters: ['[[', ']]'],
    data () {
      return {
        error: false
      }
    },
    mounted () {
      this.getCounters()
    },
    methods: {
      myFunction(item) {
        options_events_scientific_areas.xaxis.categories.push(item.description)
        options_events_scientific_areas.series[0].data.push(item.number)
      },
      getCounters() {
        axios
        .get("{{ api_url }}", {
          params: {
            year: "{{ year }}"
          }
        })
        .then(response => {
          this.error_msg = ""
          this.error_status = null
          response.data.forEach(this.myFunction)
          var chart = new ApexCharts(document.querySelector("#chart_events_scientific_areas"), options_events_scientific_areas)
          chart.render()
        })
        .catch(error => {
          if(error) {
            this.error = true
            this.error_msg = error.response.data.detail
            this.error_status = error.response.status
          }
        })
      },
    }
  }).mount('#app_events_scientific_areas')
  
</script>
