{% load i18n %}
{% load pe_management_tags %}

{% pem_settings_value "DASHBOARD_KPI_LIST" as titles %}
<div class="col-12">
  <div class="card-wrapper card-space">
    <div class="card card-bg no-after">
      <div class="card-body">
        <p class="card-title h5">
          {% for title in titles %}
          {% if title.0 == request.GET.kpi %}
          {{ title.1 }}
          {% endif %}
          {% endfor %}
        </p>
        <div id="app_events_promo_channels">
          <div v-if="error">
            <div class="alert alert-danger" role="alert">
              {% trans "Data retrieval failed. Please check your search parameters" %}
            </div>
          </div>
          <div id="chart_events_promo_channels" v-else></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var options_events_promo_channels = {
    series: [{
      name: '',
      data: []
    }],
    chart: {
      height: 350,
      type: 'bar',
    },
    plotOptions: {
      bar: {
        borderRadius: 10,
        dataLabels: {
          position: 'top', // top, center, bottom
        },
      }
    },
    dataLabels: {
      enabled: true,
      offsetY: -20,
      style: {
        fontSize: '12px',
        colors: ["#304758"]
      }
    },
    
    xaxis: {
      categories: [],
      position: 'top',
      axisBorder: {
        show: false
      },
      axisTicks: {
        show: false
      },
      crosshairs: {
        fill: {
          type: 'gradient',
          gradient: {
            colorFrom: '#D8E3F0',
            colorTo: '#BED1E6',
            stops: [0, 100],
            opacityFrom: 0.4,
            opacityTo: 0.5,
          }
        }
      },
      tooltip: {
        enabled: true,
      }
    },
    yaxis: {
      axisBorder: {
        show: false
      },
      axisTicks: {
        show: false,
      },
      labels: {
        show: false,
      }
      
    },
  };
  
  const app_events_promo_channels = Vue.createApp({
    delimiters: ['[[', ']]'],
    data () {
      return {
        error: false
      }
    },
    mounted () {
      this.getCounters()
    },
    methods: {
      myFunction(item) {
        options_events_promo_channels.xaxis.categories.push(item.promo_channel__description || "Nessuno")
        options_events_promo_channels.series[0].data.push(item.num_iniziative)
      },
      getCounters() {
        axios
        .get("{{ api_url }}", {
          params: {
            year: "{{ year }}"
          }
        })
        .then(response => {
          this.error_msg = ""
          this.error_status = null
          response.data.forEach(this.myFunction)
          var chart = new ApexCharts(document.querySelector("#chart_events_promo_channels"), options_events_promo_channels)
          chart.render()
        })
        .catch(error => {
          if(error) {
            this.error = true
            this.error_msg = error.response.data.detail
            this.error_status = error.response.status
          }
        })
      },
    }
  }).mount('#app_events_promo_channels')
  
</script>
