<div id="app_structure_counters">
    <div id="chart_structure_counter"></div>
</div>

<script>
var options_structure_counters = {
    series: [{data: []},],
    chart: {type: 'bar',height: 400},
    plotOptions: {
      bar: {
        horizontal: true,
        dataLabels: {
          position: 'top',
        },
      }
    },
    dataLabels: {
      enabled: true,
      offsetX: -6,
      style: {
        fontSize: '12px',
        colors: ['#fff']
      }
    },
    stroke: {
      show: true,
      width: 1,
      colors: ['#fff']
    },
    tooltip: {
      shared: true,
      intersect: false
    },
    xaxis: {
      categories: [],
    },
}

const app_structure_counters = Vue.createApp({
    delimiters: ['[[', ']]'],
    data () {},
    mounted () {
        this.getCounters()
    },
    methods: {
        myFunction(item) {
            options_structure_counters.xaxis.categories.push(item.structure__name)
            options_structure_counters.series[0].data.push(item.num_iniziative)
        },
        getCounters() {
            axios
                .get("{{ api_url }}")
                .then(response => {
                    this.error_msg = ""
                    this.error_status = null
                    response.data.forEach(this.myFunction)
                    var chart = new ApexCharts(document.querySelector("#chart_structure_counter"), options_structure_counters)
                    chart.render()
                })
                .catch(error => {
                    if(error) {
                        this.error_msg = error.response.data.detail
                        this.error_status = error.response.status
                    }
                })
        },
    }
}).mount('#app_structure_counters')
</script>
