{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load pe_management_tags %}


{% block top_content %}
<p class="h2">{% trans "Dashboard" %}</p>
<hr class="my-4">
{% endblock top_content %}

{% block clean_content %}

{% pem_settings_value 'DASHBOARD_MANAGER_KPI_LIST' as dashboard_kpi_list %}
<div class="text-end my-3">
    <a href="{% url 'pe_management:manager_management' %}" class="btn btn-outline-info text-lg-end">
        <svg class="icon icon-sm icon-info">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-tool"></use>
        </svg> {% trans "Management" %}
    </a>
</div>

<p class="h4">{% trans "Data visualization" %}</p>

<form method="GET" action="">
    <div class="row my-5">
        <div class="col-12 col-lg-6">
            <div class="select-wrapper h-100">
                <label for="i">{% trans "Indicator" %}</label>
                <select name="i" id="i" onchange="this.form.submit()" class="h-100" style="background: transparent">
                    <option value="">- {% trans "Tutti" %} -</option>
                    {% for kpi in dashboard_kpi_list %}
                    <option value="{{ kpi.0 }}" {% if request.GET.i == kpi.0 %}selected{% endif %}>{{ kpi.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-3 mt-4 mt-lg-0">
            <div class="select-wrapper h-100">
                <label for="year">{% trans "Year" %}</label>
                <select name="year" id="year" class="h-100" onchange="this.form.submit()" style="background: transparent">
                    <option value="">- {% trans "select" %} -</option>
                    {% for year in years %}
                    <option value="{{ year }}" {% if request.GET.year == year|stringformat:"i" %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>        
        </div>
        <div class="col-12 col-lg-3 mt-3 mt-lg-0">
            <a href="{% url 'pe_management:manager_dashboard' %}" class="btn btn-xs btn-outline-danger" title="Reset">
                <svg class="icon icon-sm icon-danger">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-close-circle"></use>
                </svg> Reset
            </a>
        </div>
    </div>
</form>

{% if request.GET.year %}
<div class="row">
    
    <!-- Riepilogo di tutti gli indicatori-->
    {% if not request.GET.i %}
    {% include "manager/charts/summary.html" with year=request.GET.year %}
    {% endif %}
    <!-- END Riepilogo di tutti gli indicatori-->

    <!-- Numero progetti per ogni struttura-->
    {% if request.GET.i == 'structure_counters' %}
    {% url 'pe_management:api_manager_structure_counters' as structure_counters_url %}
    {% include "manager/charts/structure_counters.html" with api_url=structure_counters_url year=request.GET.year %}
    {% endif %}
    <!-- END Numero progetti per ogni struttura-->
    
    <!-- Destinatari -->
    {% if request.GET.i == 'events_recipients' %}
    {% url 'pe_management:api_manager_events_recipients' as events_recipients_url %}
    {% include "manager/charts/events_recipients.html" with api_url=events_recipients_url year=request.GET.year %}
    {% endif %}
    <!-- END Destinatari -->
    
    <!-- Tipologie iniziative -->
    {% if request.GET.i == 'events_types' %}
    {% url 'pe_management:api_manager_events_types' as events_types_url %}
    {% include "manager/charts/events_types.html" with api_url=events_types_url year=request.GET.year %}
    {% endif %}
    <!-- END Tipologie iniziative -->
    
    <!-- Obiettivi -->
    {% if request.GET.i == 'events_goals' %}
    {% url 'pe_management:api_manager_events_targets' as events_targets_url %}
    {% include "manager/charts/events_targets.html" with api_url=events_targets_url year=request.GET.year %}
    {% endif %}
    <!-- END Obiettivi -->
    
    <!-- Modalità di svolgimento -->
    {% if request.GET.i == 'events_methods_of_execution' %}
    {% url 'pe_management:api_manager_events_methods_of_execution' as events_methods_of_execution_url %}
    {% include "manager/charts/events_methods_of_execution.html" with api_url=events_methods_of_execution_url year=request.GET.year %}
    {% endif %}
    <!-- END Modalità di svolgimento -->
    
    <!-- Dimensione geografica -->
    {% if request.GET.i == 'events_geographical_dimension' %}
    {% url 'pe_management:api_manager_events_geographical_dimension' as events_geographical_dimension_url %}
    {% include "manager/charts/events_geographical_dimension.html" with api_url=events_geographical_dimension_url year=request.GET.year %}
    {% endif %}
    <!-- END Dimensione geografica -->
    
    <!-- Ente organizzatore -->
    {% if request.GET.i == 'events_organizing_subjects' %}
    {% url 'pe_management:api_manager_events_organizing_subject' as events_organizing_subject_url %}
    {% include "manager/charts/events_organizing_subjects.html" with api_url=events_organizing_subject_url year=request.GET.year %}
    {% endif %}
    <!-- END Ente organizzatore -->
    
    <!-- Tipologie collaboratori -->
    {% if request.GET.i == 'events_collaborator_types' %}
    {% url 'pe_management:api_manager_events_collaborator_types' as events_collaborator_types_url %}
    {% include "manager/charts/events_collaborator_types.html" with api_url=events_collaborator_types_url year=request.GET.year %}
    {% endif %}
    <!-- END Tipologie collaboratori -->
    
    <!-- Canali di promozione -->
<!--
    {% if request.GET.i == 'events_promo_channels' %}
    {% url 'pe_management:api_manager_events_promo_channels' as events_promo_channels_url %}
    {% include "manager/charts/events_promo_channels.html" with api_url=events_promo_channels_url year=request.GET.year %}
    {% endif %}
-->
    <!-- END Canali di promozione -->
    
    <!-- Richiesta di patrocinio -->
<!--
    {% if request.GET.i == 'events_patronage_requested' %}
    {% url 'pe_management:api_manager_events_patronage_requested' as events_patronage_requested_url %}
    {% include "manager/charts/events_patronage_requested.html" with api_url=events_patronage_requested_url year=request.GET.year %}
    {% endif %}
-->
    <!-- END Richiesta di patrocinio -->
    
    <!-- Dati di monitoraggio presenti -->
<!--
    {% if request.GET.i == 'events_monitoring_data_provided' %}
    {% url 'pe_management:api_manager_events_monitoring_data_provided' as events_monitoring_data_provided_url %}
    {% include "manager/charts/events_monitoring_data_provided.html" with api_url=events_monitoring_data_provided_url year=request.GET.year %}
    {% endif %}
-->
    <!-- END Dati di monitoraggio presenti -->
    
    <!-- Valutazione impatto -->
<!--
    {% if request.GET.i == 'events_impact_evaluation' %}
    {% url 'pe_management:api_manager_events_impact_evaluation' as events_impact_evaluation_url %}
    {% include "manager/charts/events_impact_evaluation.html" with api_url=events_impact_evaluation_url year=request.GET.year %}
    {% endif %}
-->
    <!-- END Valutazione imopatto -->
    
    <!-- Aree scientifiche -->
    {% if request.GET.i == 'events_scientific_areas' %}
    {% url 'pe_management:api_manager_events_scientific_areas' as events_scientific_areas_url %}
    {% include "manager/charts/events_scientific_areas.html" with api_url=events_scientific_areas_url year=request.GET.year %}
    {% endif %}
    <!-- END Aree scientifiche-->
    
    
    {% comment %}
    <div class="col-12 col-lg-6">
    <div class="card-wrapper card-space">
    <div class="card card-bg no-after">
    <div class="card-body">
    <p class="card-title h5">Lorem ipsum</p>
    {% url 'pe_management:api_manager_main_projects' as main_projects_url %}
    {% include "manager/charts/main_projects.html" with api_url=main_projects_url year=request.GET.year %}
    </div>
    </div>
    </div>
    </div>
    {% endcomment %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    {% trans "Select the reference year" %}
</div>
{% endif %}
{% endblock clean_content %}
