{% extends 'events.html' %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{% trans "Events" %}</h2>
<h3 style="font-weight: lighter">{{ structure_slug|upper }}</h3>
{% endblock top_content %}

{% block custom_filters %}
<div class="form-check form-check-inline">
    <div class="toggles">
      <label for="toggle1">
        {% trans "To be handled" %}
        <input v-model="filter_to_handle" type="checkbox" id="toggle1" @change="to_take($event.target.checked)">
        <span class="lever"></span>
      </label>
    </div>
</div>
<div class="form-check form-check-inline">
    <div class="toggles">
      <label for="toggle12">
        {% trans "To evaluate" %}
        <input v-model="filter_to_evaluate" type="checkbox" id="toggle12" @change="to_evaluate($event.target.checked)">
        <span class="lever"></span>
      </label>
    </div>
</div>
<div class="form-check form-check-inline">
    <div class="toggles">
      <label for="toggle13">
        {% trans "Granted patronage" %}
        <input v-model="filter_evaluation_ok" type="checkbox" id="toggle13" @change="evaluation_ok($event.target.checked)">
        <span class="lever"></span>
      </label>
    </div>
</div>
<div class="form-check form-check-inline">
    <div class="toggles">
      <label for="toggle14">
        {% trans "Denied patronage" %}
        <input v-model="filter_evaluation_ko" type="checkbox" id="toggle14" @change="evaluation_ko($event.target.checked)">
        <span class="lever"></span>
      </label>
    </div>
</div>
{% endblock custom_filters %}
