{% extends 'adminlte/base.html' %}

{% load i18n %}
{% load static %}


{% block top_content %}
<h2>{% trans "UniCal.PE platform" %}</h2>
<p>
    {% trans "In this section you can register and manage the Public Engagement initiatives of the University of Calabria." %}
</p>
{% endblock top_content %}

{% block clean_content %}
<hr class="my-5">
<p class="h5">
    <i class="nav-icon bi bi-tools"></i> {% trans "Management tools" %}
</p>
<div class="row mt-5">
    <div class="col-12 col-lg-4">
        <!--start card-->
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3"><b>{% trans 'Event referent or his delegate' %}</b></h3>
                
            </div><!-- /.card-header -->
            <div class="card-body">
                <p class="card-text">{% trans 'To register or modify an event' %}</p>
                <a class="read-more" href="{% url 'pe_management:user_events'%}">
                    <span class="text text-primary">{% trans "Manage" %}</span>
                    <i class="nav-icon bi bi-arrow-right-circle"></i>
                </a>
                
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!--end card-->
    </div>
    <div class="col-12 col-lg-4">
        <!--start card-->
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3"><b>{% trans 'Structure operator' %}</b></h3>
                
            </div><!-- /.card-header -->
            <div class="card-body">
                <p class="card-text">{% trans 'To manager structure events' %}</p>
                <a class="read-more" href="{% url 'pe_management:operator_dashboard'%}">
                    <span class="text text-primary">{% trans "Evaluation" %}</span>
                    <i class="nav-icon bi bi-arrow-right-circle"></i>
                </a>
                <a class="read-more" style="left: 50%" href="{% url 'pe_management:patronage_operator_dashboard'%}">
                    <span class="text text-primary">{% trans "Patronage" %}</span>
                    <i class="nav-icon bi bi-arrow-right-circle"></i>
                </a>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!--end card-->
    </div>
    <div class="col-12 col-lg-4">
        <!--start card-->
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3"><b>{% trans 'Manager' %}</b></h3>
                
            </div><!-- /.card-header -->
            <div class="card-body">
                <p class="card-text">
                    {% trans 'To manage all events' %}
                </p>
                <a class="read-more" href="{% url 'pe_management:manager_dashboard'%}">
                    <span class="text text-primary">{% trans "Dashboard" %}</span>
                    <i class="nav-icon bi bi-arrow-right-circle"></i>
                </a>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!--end card-->
    </div>
</div>
<hr class="my-5">
<p class="h5">
    <i class="nav-icon bi bi-password visible"></i> {% trans "Read only access" %}
</p>
<div class="row mt-5">
    <div class="col-12 col-lg-4">
        <!--start card-->
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3"><b>{% trans 'Other involved personnel' %}</b></h3>
                
            </div><!-- /.card-header -->
            <div class="card-body">
                <p class="card-text">
                    {% trans 'Access the data of the initiatives in which you have been included as "other involved personnel"' %}
                </p>
                <a class="read-more" href="{% url 'pe_management:involved_personnel_events'%}">
                    <span class="text text-primary">{% trans "Enter" %}</span>
                    <i class="nav-icon bi bi-arrow-right-circle"></i>
                </a>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!--end card-->
    </div>
    <div class="col-12 col-lg-4">
        <!--start card-->
        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3"><b>{% trans 'Other involved structures' %}</b></h3>
                
            </div><!-- /.card-header -->
            <div class="card-body">
                <p class="card-text">
                    {% trans 'Access the data of the initiatives in which your structure has been involved' %}
                </p>
                <a class="read-more" href="{% url 'pe_management:involved_structures_dashboard'%}">
                    <span class="text text-primary">{% trans "Enter" %}</span>
                    <i class="nav-icon bi bi-arrow-right-circle"></i>
                </a>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!--end card-->
    </div>
</div>
{% endblock clean_content %}
